body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(120deg, #007bff, #d0314c);
    height: 100vh;
}

.login-card{
    background-color: #fff;
    height: 100%;
    width: 30vw;
    border-radius: 8px;
    margin: auto;
    position: relative;
    top: 10vh;
    padding-bottom: 20px;
}
@media screen and (max-width:800px) {
    .login-card{
        width: 70vw;
    }
}
.login-heading{
    color: rgb(18, 162, 229);
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
}

.forgot{
    margin: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(39, 40, 37);
}
.forgot:hover{
    cursor: pointer;
    font-size: 16px;
    color: blue;
}
.signupback{
    margin: 20px;
    padding-left: 20px;
    text-decoration: none;
}
.signupback:hover{
    cursor: pointer;
    font-size: 16px;
    color: black;
}
.logo{
    height: 150px;
    
}
@media screen and (max-width:768px){
    .bg{
      height: 100vh;
    }
}